<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Anpassungen Megadruck</label>
    <label lang="en">Anpassungen Megadruck</label>
    <version>1.0.5</version>
    <copyright>Shyim</copyright>
    <license>MIT</license>
    <author>Megadruck</author>
</plugin>
