<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="./tests/phpUnit/Bootstrap.php"
>
    <testsuite name="SwagCustomProducts Test Suite">
        <directory>./tests</directory>
    </testsuite>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <exclude>
                <directory suffix=".php">./tests</directory>

                <file>./Models/SwagCustomProducts/Basket/ConfigurationHash.php</file>
                <file>./Models/SwagCustomProducts/Option/Option.php</file>
                <file>./Models/SwagCustomProducts/Option/Value.php</file>
                <file>./Models/SwagCustomProducts/Option/Type.php</file>
                <file>./Models/SwagCustomProducts/Template/Template.php</file>

                <file>Bootstrap.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>